<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:application name="hello-world-app"/>
    <dubbo:registry protocol="zookeeper" address="192.168.11.200:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <dubbo:service interface="cn.codingstar.offer.rpc.DemoServer"
                   ref="demoService"/>       <!-- 和本地bean一样实现服务 -->
    <bean id="demoService" class="cn.codingstar.offer.rpc.impl.DemoServerImpl"/>
</beans>